---
random_tab:
  - 1
  - 2
---








<h1>Conditional Form Fields</h1>

{{ partial:reservieren }}



<hr>








{{# <header class="bg-white md:fixed md:left-0 md:right-0 md:top-0 md:z-30 md:h-[6.5rem]"> #}}
<header class="bg-white">

    {{# <div class="flex items-center justify-between pt-3"> #}}
    <div class="flex items-center justify-end pt-3">
        {{# <div class="text-2xl font-semibold md:w-64 text-gray-800 hover:text-gray-900 pl-6 py-0">
            <a href="/" class="flex items-center">
                <img src="/alpine_long.svg" class="w-[200px] md:w-[290px]" alt="">
            </a>
        </div> #}}

        {{# <div class="space-x-6 text-gray-800 hidden md:flex justify-end items-center w-64 pr-6 py-4">
            <a href="https://github.com/alpinejs/alpine" class="block hover:text-gray-600">
                <svg class="fill-current w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>GitHub</title><path d="M10 0a10 10 0 0 0-3.16 19.49c.5.1.68-.22.68-.48l-.01-1.7c-2.78.6-3.37-1.34-3.37-1.34-.46-1.16-1.11-1.47-1.11-1.47-.9-.62.07-.6.07-.6 1 .07 1.53 1.03 1.53 1.03.9 1.52 2.34 1.08 2.91.83.1-.65.35-1.09.63-1.34-2.22-.25-4.55-1.11-4.55-4.94 0-1.1.39-1.99 1.03-2.69a3.6 3.6 0 0 1 .1-2.64s.84-.27 2.75 1.02a9.58 9.58 0 0 1 5 0c1.91-1.3 2.75-1.02 2.75-1.02.55 1.37.2 2.4.1 2.64.64.7 1.03 1.6 1.03 2.69 0 3.84-2.34 4.68-4.57 4.93.36.31.68.92.68 1.85l-.01 2.75c0 .26.18.58.69.48A10 10 0 0 0 10 0"></path></svg>
            </a>
        </div> #}}




        {{# <div
            class="md:hidden flex items-center pr-6"
            x-data="{ show: false }"
        > #}}
        <div
            class="flex items-center pr-6"
            x-data="{ show: false }"
        >
            {{# letzte 3 Zeilen sind von zaengle, siehe in Kombi mit dem Close Button #}}
            <button
                class="text-gray-600 focus:outline-none"
                x-on:click="show = ! show"

                x-bind:aria-label="show ? 'Close main menu' : 'Main menu'"
                aria-label="Main menu"
                x-bind:aria-expanded="show"
            >
                {{# <span class="sr-only">Show navigation</span> #}}
                    <svg class="fill-current w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path></svg>
            </button>

            {{# <div class="fixed right-32 z-[9999]">
                <a href="/test">Das ist ein Test</a>
            </div> #}}

            {{# aus unterer class= gelöscht md:top-[6.5rem] #}}
            {{# Wenn ich den Off-Canvas links statt rechts will, ändere ich in der nachfolgenden Klasse right-0 zu left-0 und bei den x-transitions füge ich 2mal ein ein - vor …translate-x-full hinzu
            x-transition:enter-start="-translate-x-full"
            x-transition:leave-end="-translate-x-full"  #}}
            {{# Siehe auch https://zaengle.com/blog/building-an-accessible-nav-with-alpine-js-and-tailwind-css
                Dort kann ich auch nachlesen, wie eine Hamburger Animation gemacht wird. #}}
            {{# Benötigt ebenfalls focus Plugin für x-trap #}}
            {{# In Safari funktiniert ESC nicht. Warum? Ich muss der Zeile x-on:keydown.escape.prevent.stop="show = false" noch ein .window hinzufügen #}}
            <div
                class="bg-gray-100 fixed top-0 bottom-0 right-0 z-[199] p-6 shadow-xl w-1/2 overflow-y-auto"
                x-show="show"
                x-trap.inert.noscroll="show"
                x-on:click.outside="show = false"
                x-on:keydown.window.escape.prevent.stop="show = false"
                x-transition:enter="transition ease-in-out duration-300 transform"
                x-transition:enter-start="translate-x-full"
                x-transition:enter-end="translate-x-0"
                x-transition:leave="transition ease-in-out duration-300 transform"
                x-transition:leave-start="translate-x-0"
                x-transition:leave-end="translate-x-full"
                style="display: none;"
            >
                {{# BESSER MIT CLOSE ICON, SONST FUNKTIONIERT X-TRAP NICHT RICHTIG #}}
                {{# Close Icon #}}
                {{# Wieso haben beide Hamburger Pictos ein focus:outline-none? #}}
                <div class="flex justify-end">
                    <button
                        class="text-gray-600 focus:outline-none"
                        x-on:click="show = ! show"

                        x-bind:aria-label="'Close main menu'"
                        aria-label="Main menu"
                        x-bind:aria-expanded="show"
                    >
                        <span class="sr-only">Close navigation</span>
                        <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                        </svg>
                    </button>
                </div>

                <ul class="">
                    <li class=""><a href="/test" class="">Link</a></li>
                    <li class=""><a href="/" class="">Link</a></li>
                    <li class=""><a href="/" class="">Link</a></li>
                    <li class=""><a href="/" class="">Link</a></li>
                </ul>

            </div>
        </div>
    </div>
</header>

<hr>

{{ now modify_date="-2hour" }}

<hr>

{{ view:random_tab }}
    {{ value }}
{{ /view:random_tab }}

<hr>

limit: {{ view:random_tab | shuffle | limit:1 | join }}

<hr>

<h1>Tabs with Alpine, inkl. dynamischen ID bis 23:00 (ohne letzter Punkt)</h1>

{{# Benötigt Focus Plugin #}}

{{# Tabs #}}
<div
    x-data="{
        selectedId: null,
        // Set the first available tab on the page on page load.
        init() {
            // this.$nextTick(() => this.select(this.$id('tab', 1)))
            this.$nextTick(() => this.select(this.$id('tab', {{ view:random_tab | shuffle | limit:1 | join }})))
        },
        select(id) {
            this.selectedId = id
        },
        isSelected(id) {
            return this.selectedId === id
        },
    }"
    x-id="['tab']"
    class="max-w-3xl bg-white"
>
    {{# Tab List #}}
    {{# Wegen Lighthouse habe ich ul/li weggelassen. Buttons mit ARIA müssen direkte Kinder sein… #}}
    <div
        @keydown.right.prevent.stop="$focus.wrap().next()"
        @keydown.home.prevent.stop="$focus.first()"
        @keydown.page-up.prevent.stop="$focus.first()"
        @keydown.left.prevent.stop="$focus.wrap().prev()"
        @keydown.end.prevent.stop="$focus.last()"
        @keydown.page-down.prevent.stop="$focus.last()"
        role="tablist"
        class="-mb-px flex items-stretch"
    >
        {{# Tab #}}
        <button
            :id="$id('tab', 1)"
            @click="select($el.id)"
            @focus="select($el.id)"
            type="button"
            :tabindex="isSelected($el.id) ? 0 : -1"
            :aria-selected="isSelected($el.id)"
            :class="isSelected($el.id) ? 'border-black bg-white' : 'border-transparent'"
            class="inline-flex px-4 py-2 border-t border-l border-r"
            role="tab"
        >Tab 1</button>
        <button
            :id="$id('tab', 2)"
            @click="select($el.id)"
            @focus="select($el.id)"
            type="button"
            :tabindex="isSelected($el.id) ? 0 : -1"
            :aria-selected="isSelected($el.id)"
            :class="isSelected($el.id) ? 'border-black bg-white' : 'border-transparent'"
            class="inline-flex px-4 py-2 border-t border-l border-r"
            role="tab"
        >Tab 2</button>
    </div>

    {{# Panels #}}
    {{# Gibt es role="tabpanels" überhaupt? Lighthouse motzt. #}}
    <div class="border border-black">
        {{# Panel #}}
        {{# ersetzt
            x-show="selectedId === 'tab-1'"
         #}}
        <section
            x-show="isSelected($id('tab', 1))"
            :aria-labelledby="$id('tab', 1)"
            role="tabpanel"
            class="px-8 py-6"
        >
            <h2 class="font-bold text-xl">Tab 1 Content</h2>
            <p class="mt-2 text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, dolores ex nemo sit, quia corrupti tempora unde enim consectetur facere minus error est? Error facilis, eligendi architecto quisquam minima cupiditate.</p>
            <button>Something focusable</button>
        </section>
        <section
            x-show="isSelected($id('tab', 2))"
            :aria-labelledby="$id('tab', 2)"
            role="tabpanel"
            class="px-8 py-6"
        >
            <h2 class="font-bold text-xl">Tab 2 Content</h2>
            <p class="mt-2 text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, dolores ex nemo sit, quia corrupti tempora unde enim consectetur facere minus error est? Error facilis, eligendi architecto quisquam minima cupiditate.</p>
            <button>Something focusable</button>
        </section>
    </div>

</div>



<hr>




<h1>Tabs with Alpine bis 17:30 fertig</h1>

{{# Benötigt Focus Plugin #}}

{{# Tabs #}}
<div
    x-data="{
        selectedId: 'tab-1',
        select(id) {
            this.selectedId = id
        },
        isSelected(id) {
            return this.selectedId === id
        },
    }"
    class="max-w-3xl bg-white"
>
    {{# Tab List #}}
    <div
        @keydown.right.prevent.stop="$focus.wrap().next()"
        @keydown.home.prevent.stop="$focus.first()"
        @keydown.page-up.prevent.stop="$focus.first()"
        @keydown.left.prevent.stop="$focus.wrap().prev()"
        @keydown.end.prevent.stop="$focus.last()"
        @keydown.page-down.prevent.stop="$focus.last()"
        role="tablist"
        class="-mb-px flex items-stretch"
    >
        {{# Tab #}}
        <button
            id="tab-1"
            @click="select($el.id)"
            @focus="select($el.id)"
            type="button"
            :tabindex="isSelected($el.id) ? 0 : -1"
            :aria-selected="isSelected($el.id)"
            :class="isSelected($el.id) ? 'border-black bg-white' : 'border-transparent'"
            class="inline-flex px-4 py-2 border-t border-l border-r"
            role="tab"
        >Tab 1</button>
        <button
            id="tab-2"
            @click="select($el.id)"
            @focus="select($el.id)"
            type="button"
            :tabindex="isSelected($el.id) ? 0 : -1"
            :aria-selected="isSelected($el.id)"
            :class="isSelected($el.id) ? 'border-black bg-white' : 'border-transparent'"
            class="inline-flex px-4 py-2 border-t border-l border-r"
            role="tab"
        >Tab 2</button>
    </div>

    {{# Panels #}}
    {{# Gibt es role="tabpanels" überhaupt? Lighthouse motzt. #}}
    <div class="border border-black">
        {{# Panel #}}
        {{# ersetzt
            x-show="selectedId === 'tab-1'"
         #}}
        <section
            x-show="isSelected('tab-1')"
            :aria-labelledby="'tab-1'"
            role="tabpanel"
            class="px-8 py-6"
        >
            <h2 class="font-bold text-xl">Tab 1 Content</h2>
            <p class="mt-2 text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, dolores ex nemo sit, quia corrupti tempora unde enim consectetur facere minus error est? Error facilis, eligendi architecto quisquam minima cupiditate.</p>
            <button>Something focusable</button>
        </section>
        <section
            x-show="isSelected('tab-2')"
            :aria-labelledby="'tab-2'"
            role="tabpanel"
            class="px-8 py-6"
        >
            <h2 class="font-bold text-xl">Tab 2 Content</h2>
            <p class="mt-2 text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, dolores ex nemo sit, quia corrupti tempora unde enim consectetur facere minus error est? Error facilis, eligendi architecto quisquam minima cupiditate.</p>
            <button>Something focusable</button>
        </section>
    </div>

</div>
