<!doctype html>
<html lang="{{ site:locale replace="_|-" }}">
    <head>
        {{ partial:head }}
    </head>
    <body>
        {{ template_content }}

        {{# TODO nur aktivieren, falls ich eigenes JS schreibe #}}
        {{# <script src="{{ mix src='/js/site.js' }}"></script> #}}

        {{ website_einstellungen:footer_scripts }}
            {{ if production_env_only }}
                {{ if environment === 'production' }}
                    {{ code }}
                {{ /if }}
            {{ else }}
                {{ code }}
            {{ /if }}
        {{ /website_einstellungen:footer_scripts }}
    </body>
</html>
