<div class="card p-0 content">
    <div class="py-3 px-4 border-b">
        <h1>Merkblätter</h1>
        <p>PDF-Anleitungen dokumentieren wichtiges Know-how für die Bearbeitung der Website.</p>
    </div>
    <div class="flex flex-wrap p-2">
        <a href="/admin/merkblaetter/anleitung-bilder-hochladen.pdf" target="_blank" rel="noopener"
            class="w-full lg:w-1/2 p-2 flex items-start hover:bg-grey-20 rounded-md group">
            <div class="h-8 w-8 mr-2 text-grey-80">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M6,22.5H3.33a1,1,0,0,1-1-1V2.28a1,1,0,0,1,1-1H13.92a5.92,5.92,0,0,1,5.93,5.93v5.09" fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10"/>
                    <path d="M15.19,1.62V4.91a1,1,0,0,0,1,1h3.38" fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10"/>
                    <path d="M8.79,22.49V15.2a0,0,0,0,1,0,0h1.79A1.82,1.82,0,0,1,12.44,17h0a1.83,1.83,0,0,1-1.83,1.83H8.79" fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10"/>
                    <path d="M14.37,22.49a3.66,3.66,0,1,0,0-7.32Z" fill="none" stroke="currentColor" stroke-linejoin="round"/>
                    <path d="M19.85,22.5v-6a1.32,1.32,0,0,1,1.32-1.32h2.24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                    <line x1="22.33" y1="18.84" x2="20.14" y2="18.84" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <div class="flex-1">
                <h3 class="mb-1 text-blue">Bilder optimiert hochladen</h3>
                <p>Bilder vor dem Upload bestmöglichst vorbereiten.</p>
            </div>
        </a>
        <a href="/admin/merkblaetter/best-practice-layout-tipps.pdf" target="_blank" rel="noopener"
            class="w-full lg:w-1/2 p-2 flex items-start hover:bg-grey-20 rounded-md group">
            <div class="h-8 w-8 mr-2 text-grey-80">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M6,22.5H3.33a1,1,0,0,1-1-1V2.28a1,1,0,0,1,1-1H13.92a5.92,5.92,0,0,1,5.93,5.93v5.09" fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10"/>
                    <path d="M15.19,1.62V4.91a1,1,0,0,0,1,1h3.38" fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10"/>
                    <path d="M8.79,22.49V15.2a0,0,0,0,1,0,0h1.79A1.82,1.82,0,0,1,12.44,17h0a1.83,1.83,0,0,1-1.83,1.83H8.79" fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10"/>
                    <path d="M14.37,22.49a3.66,3.66,0,1,0,0-7.32Z" fill="none" stroke="currentColor" stroke-linejoin="round"/>
                    <path d="M19.85,22.5v-6a1.32,1.32,0,0,1,1.32-1.32h2.24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                    <line x1="22.33" y1="18.84" x2="20.14" y2="18.84" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <div class="flex-1">
                <h3 class="mb-1 text-blue">Layoutoptionen</h3>
                <p>Seitenlayouts können mit einem, zwei oder mehreren Bildern erstellt werden.</p>
            </div>
        </a>
        <a href="/admin/merkblaetter/best-practice-fokus-tipps.pdf" target="_blank" rel="noopener"
            class="w-full lg:w-1/2 p-2 flex items-start hover:bg-grey-20 rounded-md group">
            <div class="h-8 w-8 mr-2 text-grey-80">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M6,22.5H3.33a1,1,0,0,1-1-1V2.28a1,1,0,0,1,1-1H13.92a5.92,5.92,0,0,1,5.93,5.93v5.09" fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10"/>
                    <path d="M15.19,1.62V4.91a1,1,0,0,0,1,1h3.38" fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10"/>
                    <path d="M8.79,22.49V15.2a0,0,0,0,1,0,0h1.79A1.82,1.82,0,0,1,12.44,17h0a1.83,1.83,0,0,1-1.83,1.83H8.79" fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10"/>
                    <path d="M14.37,22.49a3.66,3.66,0,1,0,0-7.32Z" fill="none" stroke="currentColor" stroke-linejoin="round"/>
                    <path d="M19.85,22.5v-6a1.32,1.32,0,0,1,1.32-1.32h2.24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                    <line x1="22.33" y1="18.84" x2="20.14" y2="18.84" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <div class="flex-1">
                <h3 class="mb-1 text-blue">Fokuspunkt</h3>
                <p>Angezeigten Bildausschnitt verändern und das Motiv in der Bildmitte platzieren.</p>
            </div>
        </a>

    </div>
</div>
